.about  {
    padding-top: 1rem;

    &__about-me {
        text-align: center;
    }

    &__section {
        margin: 1rem;
        box-shadow: inset 0 0 1rem .4rem rgb(22, 11, 11);
        @include gradient-gold-border-1px;
        width: 55rem;

        @media only screen and (max-width:  $bp-medium) {
            width: 42.5rem;
        }

        @media only screen and (max-width:  $bp-small) {
            width: 36.5rem;
        }

        @media only screen and (max-width:  $bp-small) {
            width: 30rem;
        }

    }

}


//======================carousel==================================================

.carouselwrapper {
    overflow: hidden;
    position:relative;
    
}

.carousel{
    width: var(--carouselWidth);
    margin: 0 0 0 var(--carouselLeftMargin);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

  
  &.prev {
    animation-duration: .4s;
    animation-name: prev;
  }
  
  &.next {
    animation-duration: .4s;
    animation-name: next;
  }
  
  li {
    width: calc(var(--cardWidth) - var(--card-margin) * 3);
  }  

}

.ui{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: calc(100% - var(--card-margin) * 1);
    justify-content: space-between;
    padding: var(--card-margin);
    z-index: 100;



    &__icons {
      font-size: 2rem;
      border-radius: 50%;
      transition: all .4s;
      box-shadow: 0px 8px 1rem rgba(0,0,0);
      fill: $primary-bg-light;

      &:hover {
        fill: $primary-bg-lighter;
      }

    }
  
    a {
      cursor: pointer;
    }

}

.carousel-card {
    margin: var(--card-margin);
    padding: 1rem;

    width: 26rem;
    height: 18rem;
    box-shadow: inset 0 0 .2rem .3rem rgb(2, 2, 2);
    outline: 5px ridge $secondary-bg-color;

    &__img {
      height: 100%;
      width: 100%;
      box-shadow: 0px 0px 15px rgb(7, 7, 7);
      @include gradient-gold-border-3px;
    }
}

//========================================================================


.detail {
    padding: 1rem .5rem;
}

.post {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    transition: all .4s;
    padding: 1rem;
    background: #462523;
}

.paragraph::first-letter {
    font-size: 250%;
    // float: left;
}

.paragraph {
    color: rgb(255, 255, 255);
    letter-spacing: .2rem;
}

.date {
    font-size: .8rem;
    display: flex;
    justify-content: flex-end;
}