.footer {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    
    @media only screen and (max-width:  $bp-medium) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    @media only screen and (max-width:  $bp-small) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__heptagon{
        width: 30rem;
        height: 20rem;
        position: relative;
        margin-bottom: 1rem;

        & > * {
            
            font-weight: 900;
            transition: all 1s;
            background: $primary-bg-light;


            &:hover {
                background: $secondary-bg-color;
            }

        }



        @media only screen and (max-width:  $bp-medium) {
            display: none;
        }
    
        @media only screen and (max-width:  $bp-small) {
            display: none;
        }

        &--box1 {
            width: 5rem;
            height: 5rem;
            clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
            transform: rotate(-1deg);
            position: absolute;
            top: 9.9rem;
            left: 5.1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--box2 {
            width: 5rem;
            height: 5rem;
            clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
            transform: rotate(16deg);
            position: absolute;
            top: 8.4rem;
            left: 9.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--box3 {
            width: 5rem;
            height: 5rem;
            clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
            transform: rotate(-16deg);
            position: absolute;
            top: 12.1rem;
            left: 12.7rem;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        &--box4 {
            width: 5rem;
            height: 5rem;
            clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
            transform: rotate(-16deg);
            position: absolute;
            top: 4.7rem;
            left: 12.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--box5 {
            width: 5rem;
            height: 5rem;
            clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
            transform: rotate(1.5deg);
            position: absolute;
            top: 9.5rem;
            left: 16.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__item {
        text-decoration: none;
        font-family: 'Times New Roman',serif;
        letter-spacing: 1px;
        font-weight: bold;
        background-image: linear-gradient(
         to bottom,
         #cb9b51 0,
         #cb9b51 22%, 
         #f6e27a 45%,
         #f6f2c0 50%,
         #f6e27a 55%,
         #cb9b51 78%,
         #cb9b51 100%
         );
        color:transparent;
        -webkit-background-clip:text;
    }

    &__copy-right {
        background: linear-gradient($primary-bg-color, $primary-bg-color), 
        linear-gradient(
         to right,
         #462523 0,
         #cb9b51 22%, 
         #f6e27a 45%,
         #f6f2c0 50%,
         #f6e27a 55%,
         #cb9b51 78%,
         #462523 100%
         );
        background-origin: padding-box, border-box;
        background-repeat: no-repeat;
        border-bottom: 2px solid transparent;
        padding: 1rem;


    }
}