$primary-bg-color: #222;
$secondary-bg-color: #462523;
$primary-bg-light: rgb(78, 78, 78);
$primary-bg-lighter: rgb(99, 99, 99);

$parimary-font-color: #cb9b51;

$sondary-color: rgb(255, 69, 0);


$bp-largest: 75em; // 1200px/16 
$bp-large: 68.75em; // 1100px/16 
$bp-medium: 56.25em; // 900px/16 
$bp-small: 37.5em; // 600px/16 
$bp-smallest: 31.25em; // 500px/16 